/* Custom Button Styles
 * This section defines the base styling for custom buttons, including padding, border, and background.
 * It aims for a minimalistic design with a focus on functionality and accessibility. */

.custom-btn{
    padding-inline: 0rem;
    padding-block: 0rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid darkgreen;
    border-radius: 0.25rem;  
    background: none;
    background-color: lightgreen;
    text-transform: uppercase;
    color: black;
    font: inherit;
    cursor: pointer;
    outline: none;

    &:hover {
        background-color: darkgreen;
        border-color: darkgreen;
        color:white;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: gray;
        border-color: gray;
    }
}
/* Custom Button Variant - Remove
 * This variant is styled specifically for actions like removal or deletion, 
 * indicated by its distinct red color for immediate recognition. */

.custom-btn-remove{
    background-color: red;
    border: 1px solid red;

    &:hover {
        background-color: red;
        border-color: red;
        color:white;
    }
}