/* Keyframe animation for the loader. 
 * Defines a single turn (360 degrees rotation) to create a spinning effect. */

@keyframes loading {
    to {
      transform: rotate(1turn);
    }
  }
  /* Styling for the loader element.
 * This container centers the loader animation horizontally using flexbox. */

  .loader {
    display: flex;
    justify-content: center;
  
    &::after {
      content: "";
      width: 50px;
      height: 50px;
      border: 4px solid rgba(0, 0, 0, 0.1); /* Light grey border */
    border-top: 4px solid #3498db; /* Blue border */
      border-radius: 50%;
      animation: loading 1s ease-in-out infinite; /* Applies the rotating animation */
    }
  }
  
  /* Container for the loader, providing additional styling and layout.
 * This ensures the loader is properly positioned and visually distinct if needed. */
 
  .loader-container{
    display: flex;
    flex-direction: column;
    flex-basis: 0%;
    flex-wrap: wrap;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 1rem; 
  }